{% extends 'base.html' %}
{% block students-for-professor %}
{% if messages %}
{% for message in messages%}
<h2>{{ message }}</h2>
{% endfor %}
{% endif %}

<h3>List of all students according to the criteria</h3>
<ul>
    <li><a href="http://localhost:8000/mark_students/{{subject_id}}/1">Students who did not pass</a></li>
    <li><a href="http://localhost:8000/mark_students/{{subject_id}}/2">Students who received a signature</a></li>
    <li><a href="http://localhost:8000/mark_students/{{subject_id}}/3">Students who passed</a></li>
    <li><a href="http://localhost:8000/list_of_subjectsProf/">Return to menu</a></li>
</ul>
<br><br>
<table style="width:60%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th colspan="2">Subject status</th>
    </tr>
    <tr>
{% for upis in data %}
<td>{{upis.student.first_name}} {{upis.student.last_name}}</td>
<td>{{upis.student.email}}</td>
<td>{{upis.student.username}}</td>
<td>{{upis.status}}</td>
<td><form method="post" action="{% url 'change_status' upis.student.id upis.predmet.id %}">
    {% csrf_token %}
    <select name="status" >
  <option selected="selected" value="upisan">Upisan</option>
  <option value="izgubio potpis">Izgubio potpis</option>
  <option value="polozen">Polozen</option>
</select>
    <input type="submit" value="Submit">
</form></td>
    </tr>
{% endfor %}
</table>
{% endblock %}